<div class="vh-100 d-flex flex-column justify-content-center align-items-center text-center empresa-section">
  <div class="d-flex flex-column flex-md-row gap-5">
    <div class="mx-4">
      <img
        src="/assets/img/ar-logo.png"
        alt="AR Servicios industriales"
        height="100"
        class="mb-4 mb-lg-5 logo-init"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
      >
      <h1
        class="fs-5"
        data-aos="fade-up"
        data-aos-delay="800"
        >Soluciones en iluminación profesional</h1>
      <a
        routerLink="/ar-servicios-industriales"
        class="btn btn-custom bg-primary px-5 my-4 mx-auto text-white rounded-pill font-martian"
        data-aos="fade-up"
        data-aos-delay="1000"
      >Ingresar</a>
    </div>
    <div class="mx-4">
      <img
        src="/assets/img/logo-main-eclipse.png"
        alt="Eclipse"
        height="100"
        class="mb-4 mb-lg-5 logo-init"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
      >
      <h1
        class="fs-5"
        data-aos="fade-up"
        data-aos-delay="800"
        >Matricería, inyección y soplado</h1>
      <a
        routerLink="/eclipse"
        class="btn btn-custom bg-primary px-5 my-4 mx-auto text-white rounded-pill font-martian"
        data-aos="fade-up"
        data-aos-delay="1000"
      >Ingresar</a>
    </div>
  </div>
</div>
