
    <section id="servicios" class="py-5 my-0 overflow-hidden">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 align-self-center">
                    <div class="product-grid">
                          <!-- Fila -->
                            <!-- Bloque 1 -->
                            <div class="row align-items-center py-3 py-lg-5 px-3">
                                <div class="col-12 col-lg-5 p-0">
                                    <div class="grid">
                                        <figure class="m-0" data-aos="fade-right" data-aos-delay="100">
                                            <img src="/assets/img/ingenieria-desarrollo.jpg" alt="INGENIERÍA Y DESARROLLO" class="img-fluid rounded-5">
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-7 py-3 px-3 px-lg-5 text-center text-lg-start">
                                    <div class="px-0 px-lg-5">
                                      <h3
                                        class="font-martian text-primary text-uppercase my-4 mx-auto"
                                        data-aos="fade-left"
                                      >
                                        INGENIERÍA Y DESARROLLO
                                      </h3>
                                      <p class="lead" data-aos="fade-left" data-aos-delay="150">
                                        Cada pieza comienza con una idea. Nuestro equipo técnico diseña y desarrolla matrices a medida, optimizando cada detalle para garantizar precisión, eficiencia y calidad en la producción. Trabajamos junto a nuestros clientes desde el diseño inicial hasta la fabricación final, ofreciendo soluciones integrales que responden a las necesidades del mercado actual.
                                      </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Bloque 2 -->
                            <div class="row align-items-center py-3 py-lg-5 px-3">
                                <div class="col-12 col-lg-7 py-3 px-3 px-lg-5 text-center text-lg-end order-2 order-lg-1">
                                    <div class="px-0 px-lg-5">
                                      <h3
                                        class="font-martian text-primary text-uppercase my-4 mx-auto"
                                        data-aos="fade-right"
                                      >
                                        Matricería de alta precisión
                                      </h3>
                                        <p class="lead" data-aos="fade-right" data-aos-delay="150">
                                          Contamos con un área de matricería equipada con tecnología de última generación, donde se fabrican moldes de alta complejidad con materiales seleccionados. La precisión de nuestros procesos asegura la durabilidad de cada molde y la repetibilidad exacta de las piezas inyectadas.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-5 p-0 order-1 order-lg-2">
                                    <div class="grid">
                                        <figure class="m-0" data-aos="fade-left" data-aos-delay="100">
                                            <img src="/assets/img/matriceria-de-alta-precision.jpg" alt="Matricería de alta precisión" class="img-fluid rounded-5">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                          <!-- cierra Fila -->

                          <!-- Fila -->
                            <!-- Bloque 1 -->
                            <div class="row align-items-center py-3 py-lg-5 px-3">
                                <div class="col-12 col-lg-5 p-0">
                                    <div class="grid">
                                        <figure class="m-0" data-aos="fade-right" data-aos-delay="100">
                                            <img src="/assets/img/inyeccion-de-plastico.jpg" alt="Inyección de plástico" class="img-fluid rounded-5">
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-7 py-3 px-3 px-lg-5 text-center text-lg-start">
                                    <div class="px-0 px-lg-5">
                                      <h3
                                        class="font-martian text-primary text-uppercase my-4 mx-auto"
                                        data-aos="fade-left"
                                      >
                                        Inyección de plástico
                                      </h3>
                                      <p class="lead" data-aos="fade-left" data-aos-delay="150">
                                        Disponemos de una planta de inyección con maquinaria moderna y personal especializado. Producimos piezas técnicas y componentes para iluminación y otras industrias, manteniendo estándares constantes de calidad, acabado y resistencia. Controlamos cada etapa del proceso para garantizar resultados confiables y consistentes.
                                      </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Bloque 2 -->
                            <div class="row align-items-center py-3 py-lg-5 px-3">
                                <div class="col-12 col-lg-7 py-3 px-3 px-lg-5 text-center text-lg-end order-2 order-lg-1">
                                    <div class="px-0 px-lg-5">
                                      <h3
                                        class="font-martian text-primary text-uppercase my-4 mx-auto"
                                        data-aos="fade-right"
                                      >
                                        Innovación en materiales
                                      </h3>
                                        <p class="lead" data-aos="fade-right" data-aos-delay="150">
                                          Trabajamos con una amplia variedad de plásticos técnicos y de ingeniería, seleccionados según la función y el entorno de uso de cada producto. Esto nos permite ofrecer soluciones más livianas, resistentes y sostenibles, sin comprometer el diseño ni la durabilidad.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-5 p-0 order-1 order-lg-2">
                                    <div class="grid">
                                        <figure class="m-0" data-aos="fade-left" data-aos-delay="100">
                                            <img src="/assets/img/innovacion-de-materiales.jpg" alt="Innovación en materiales" class="img-fluid rounded-5">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                          <!-- cierra Fila -->

                          <!-- Fila -->
                            <!-- Bloque 1 -->
                            <div class="row align-items-center py-3 py-lg-5 px-3">
                                <div class="col-12 col-lg-5 p-0">
                                    <div class="grid">
                                        <figure class="m-0" data-aos="fade-right" data-aos-delay="100">
                                            <img src="/assets/img/produccion-eficiente-y-controlada.jpg" alt="Producción eficiente y controlada" class="img-fluid rounded-5">
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-7 py-3 px-3 px-lg-5 text-center text-lg-start">
                                    <div class="px-0 px-lg-5">
                                      <h3
                                        class="font-martian text-primary text-uppercase my-4 mx-auto"
                                        data-aos="fade-left"
                                      >
                                        Producción eficiente y controlada
                                      </h3>
                                      <p class="lead" data-aos="fade-left" data-aos-delay="150">
                                        Las piezas producidas pasan por un proceso de inyección cuidadosamente controlado, garantizando resultados consistentes y de alta calidad.
Nuestra tecnología permite fabricar componentes con tolerancias mínimas, optimizando recursos y asegurando acabados impecables en cada producto.
                                      </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Bloque 2 -->
                            <div class="row align-items-center py-3 py-lg-5 px-3">
                                <div class="col-12 col-lg-7 py-3 px-3 px-lg-5 text-center text-lg-end order-2 order-lg-1">
                                    <div class="px-0 px-lg-5">
                                      <h3
                                        class="font-martian text-primary text-uppercase my-4 mx-auto"
                                        data-aos="fade-right"
                                      >
                                        Compromiso con la calidad
                                      </h3>
                                        <p class="lead" data-aos="fade-right" data-aos-delay="150">
                                          Cada pieza que producimos refleja nuestro compromiso con la excelencia. Implementamos controles continuos, mejoras en los procesos y trazabilidad completa, asegurando que cada producto cumpla con las especificaciones y expectativas de nuestros clientes.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-5 p-0 order-1 order-lg-2">
                                    <div class="grid">
                                        <figure class="m-0" data-aos="fade-left" data-aos-delay="100">
                                            <img src="/assets/img/compromiso-con-la-calidad.jpg" alt="Compromiso con la calidad" class="img-fluid rounded-5">
                                        </figure>
                                    </div>
                                </div>
                            </div>
                          <!-- cierra Fila -->

                    </div>
                </div>
            </div>
        </div>
    </section>



